module.exports = {
    baseUrl: 'https://***.getbynder.com/api/',
    brandId: '**********************************',
    credentials: {
        consumer_key: '**********************************',
        consumer_secret: '**********************************',
        token: '**********************************',
        token_secret: '**********************************'
    }
};